assets/rentals.jade
table#rental-prices
	thead
		tr
			td
			td.three up to 3hrs
			td.threeplus over 3hrs
	tbody
		tr
			td.rent-title  Kiteboarding Kit
			td.three
			td.threeplus
		tr.row
			td Complete: kite, board, harness &amp; wetsuit
			td.rental-price $65 USD
			td.rental-price $95 USD
		tr
			td.rent-title  Separates
			td.three
			td.threeplus
		tr.row
			td Kite            
			td.rental-price $40 USD        
			td.rental-price $65 USD
		tr.row
			td Board        
			td.rental-price $20 USD        
			td.rental-price $30 USD        
		tr.row
			td Harness        
			td.rental-price $15 USD        
			td.rental-price $20 USD
		tr.row
			td Wet Suit    
			td.rental-price $15 USD        
			td.rental-price $30 USD    
		tr.row
			td Surf Board    
			td.rental-price $30 USD        
			td.rental-price $50 USD
		tr.end
			td
			td.three
			td.threeplus
		tr.damages
			td(colspan=3) Whilst you're renting the equipment it will be your responsibility to return the equipment to us in the condition in which you received it. Any damage will result in a repair or replacement costs.

assets/rentals.html

<table id="rental-prices">
  <thead>
    <tr>
      <td></td>
      <td class="three">up to 3hrs</td>
      <td class="threeplus">over 3hrs</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="rent-title"> Kiteboarding Kit</td>
      <td class="three"></td>
      <td class="threeplus"></td>
    </tr>
    <tr class="row">
      <td>Complete: kite, board, harness &amp; wetsuit</td>
      <td class="rental-price">$65 USD</td>
      <td class="rental-price">$95 USD</td>
    </tr>
    <tr>
      <td class="rent-title"> Separates</td>
      <td class="three"></td>
      <td class="threeplus"></td>
    </tr>
    <tr class="row">
      <td>Kite            </td>
      <td class="rental-price">$40 USD        </td>
      <td class="rental-price">$65 USD</td>
    </tr>
    <tr class="row">
      <td>Board        </td>
      <td class="rental-price">$20 USD        </td>
      <td class="rental-price">$30 USD        </td>
    </tr>
    <tr class="row">
      <td>Harness        </td>
      <td class="rental-price">$15 USD        </td>
      <td class="rental-price">$20 USD</td>
    </tr>
    <tr class="row">
      <td>Wet Suit    </td>
      <td class="rental-price">$15 USD        </td>
      <td class="rental-price">$30 USD    </td>
    </tr>
    <tr class="row">
      <td>Surf Board    </td>
      <td class="rental-price">$30 USD        </td>
      <td class="rental-price">$50 USD</td>
    </tr>
    <tr class="end">
      <td></td>
      <td class="three"></td>
      <td class="threeplus"></td>
    </tr>
    <tr class="damages">
      <td colspan="3">Whilst you're renting the equipment it will be your responsibility to return the equipment to us in the condition in which you received it. Any damage will result in a repair or replacement costs.</td>
    </tr>
  </tbody>
</table>
